<zk>
	<style src="/bootstrap/css/bootstrap.css"/>
	<style src="../css/triostyle.css" />
	<div apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm')@init('com.trio.gl.viewmodel.rpt.RptJurnalMemoBulVM')"
		validationMessages="@id('vmsgs')">
		<separator />
		<groupbox>
			<separator />
			<caption label="Report Jurnal Memorial Bulanan"
				sclass="mycaption" />

			<vbox>
				<hbox>
					<label value="Bulan jurnal : " sclass="mylabel" />
					<monthbox format="MMM-yyyy" value="@bind(vm.bulan)" />
					<checkbox label="Keterangan" value="@bind(vm.cb)"
						checked="@bind(vm.cb)" />
				</hbox>
				<hbox>
					<separator />
					<button label="Print" onClick="@command('cetak')"
						sclass="btn-warning" zclass="btn"
						image="/image/print.png" />
					<button label="Bersihkan"
						sclass="btn-warning" zclass="btn"
						image="/image/iconcrud/btn_reset.gif" />
				</hbox>
			</vbox>
			<separator />
		</groupbox>
		<separator />
		<jasperreport id="report" />
	</div>
</zk>