<zk>
	<style src="/bootstrap/css/bootstrap.css" />
	<style src="../css/triostyle.css" />
	<div height="100%" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('com.trio.gl.viewmodel.rpt.RptPerincianPiutangVM')"
		validationMessages="@id('vmsgs')">
		<separator />
		<groupbox
			form="@id('fx') @load(vm.current)  @save(vm.current, before={'addJurnal','search'}) @validator(vm.formValidator) ">
			<caption label="Laporan Perincian Piutang"
				sclass="mycaption" />
			<separator />
			<vbox>
				<hbox>
					<cell width="80px">
						<label value="No Perk" sclass="mylabel" />
					</cell>
					<cell>
						<combobox autocomplete="true" sclass="mycombo"
							width="70px" model="@load(vm.perkiraans)"
							value="@bind(fx.trioJurnalPK.idPerkiraan)"
							selectedItem="@bind(vm.selectedPerkiraan)"
							onSelect="@command('showSelectedPerkiraan')">
							<template name="model" var="p1">
								<comboitem
									label="@load(p1.trioMstperkiraanPK.idPerkiraan)"
									value="@load(p1.trioMstperkiraanPK.idPerkiraan)" />
							</template>
						</combobox>

						<combobox autocomplete="true" sclass="mycombo"
							width="200px" model="@load(vm.perkiraans)"
							value="@bind(fx.namaPerkiraan)"
							selectedItem="@bind(vm.selectedPerkiraan)"
							onSelect="@command('showSelectedPerkiraan')"
							onChange="self.setValue(self.getValue().toUpperCase().trim());"
							focus="@load(vm.focus)">
							<template name="model" var="p1">
								<comboitem
									label="@load(p1.namaPerkiraan)"
									value="@load(p1.trioMstperkiraanPK.idPerkiraan)" />
							</template>
						</combobox>
					</cell>
				</hbox>

				<hbox align="center">
					<cell width="80px">
						<label value="Periode" />
					</cell>
					<cell>
						<monthbox value="@bind(vm.bulan)"
							constraint="no empty" format="MMM-yyyy" />
					</cell>
				</hbox>
			</vbox>
		</groupbox>
		<separator />
		<button label="Print" onClick="@command('cetak')"
			sclass="btn-warning" zclass="btn" image="/image/print.png" />
	</div>
</zk>