<zk>
	<style src="/bootstrap/css/bootstrap.css" />
	<style src="../css/triostyle.css" />
	<div apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm')@init('com.trio.gl.viewmodel.rpt.RptRugiLabaVM')"
		validationMessages="@id('vmsgs')">
		<separator />
		<groupbox>
			<separator />
			<caption label="Laporan Rugi Laba" sclass="mycaption" />

			<vbox>
				<hbox align="center">
					<cell width="80px">
						<label value="Bulan jurnal : " sclass="mylabel" />
					</cell>

					<cell>
						<monthbox format="MMM-yyyy"
							value="@bind(vm.bulan)" constraint="no empty" />
						<space />
						<checkbox label="per tahun" value="@bind(vm.cb)"
							checked="@bind(vm.cb)" />
					</cell>
				</hbox>
				<separator />
				<hbox align="center">
					<button label="Print" onClick="@command('cetak')"
						sclass="btn-warning" zclass="btn" image="/image/print.png" />

					<button label="Create File"
						onClick="@command('createFile')" sclass="btn-warning" zclass="btn"
						image="/image/open.png" />
					<button label="Bersihkan" sclass="btn-warning"
						zclass="btn" image="/image/iconcrud/btn_reset.gif" />
				</hbox>
			</vbox>
			<separator />
		</groupbox>
		<separator />
		<jasperreport id="report" />
	</div>
</zk>