<zk>
	<style src="/bootstrap/css/bootstrap.css" />
	<style src="../css/triostyle.css" />
	<window title="Data Jurnal" border="normal"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('com.trio.gl.popup.PopupPelunasanVM')"
		sclass="mymodal" mode="modal" width="95%" closable="true">
		<groupbox>
			<vbox>
				<hbox align="center">
					<cell width="80px">
						<label value="No Perkiraan" />
					</cell>
					<cell>
						<combobox model="@bind(vm.idPerkiraan)"
							selectedItem="@bind(vm.selectedPerkiraan)" sclass="mycombo"
							width="70px" autodrop="true" constraint="no empty">
							<template name="model" var="combo">
								<comboitem
									label="@load(combo.trioMstperkiraanPK.idPerkiraan)"
									description="@load(combo.namaPerkiraan)" />
							</template>
						</combobox>
						<space />
						<button label="Show Data"
							onClick="@command('show')" sclass="btn-warning" zclass="btn" />
					</cell>
					<space width="50px" />
					<cell>
						<label value="Find Data" />
						<space />
						<bandbox onOK="@command('search')"
							value="@bind(vm.search)" mold="rounded" autodrop="false">
						</bandbox>
					</cell>
				</hbox>
				<separator />
				<hbox align="center">
					<cell width="80px">
						<label value="No Perkiraan 2" width="70px" />
					</cell>
					<cell>
						<combobox sclass="mycombo" width="70px"
							autodrop="true" model="@bind(vm.idPerkiraan)"
							selectedItem="@bind(vm.selectedPerkiraan2)">
							<template name="model" var="combo2">
								<comboitem
									label="@load(combo2.trioMstperkiraanPK.idPerkiraan)"
									description="@load(combo2.namaPerkiraan)" />
							</template>
						</combobox>
					</cell>
				</hbox>
				<separator />
				<hbox align="center">
					<cell width="80px">
						<label value="No Perkiraan 3" />
					</cell>
					<combobox sclass="mycombo" width="70px"
						autodrop="true" model="@bind(vm.idPerkiraan)"
						selectedItem="@bind(vm.selectedPerkiraan3)">
						<template name="model" var="combo3">
							<comboitem
								label="@load(combo3.trioMstperkiraanPK.idPerkiraan)"
								description="@load(combo3.namaPerkiraan)" />
						</template>
					</combobox>
					<cell></cell>
				</hbox>
			</vbox>
			<separator />
		</groupbox>

		<separator height="15px" />

		<listbox model="@load(vm.listModel)" checkmark="true"
			multiple="true" onSelect="@command('pilih')"
			selectedItem="@bind(vm.selectedJurnal)" sclass="mylist" mold="paging"
			pageSize="10" emptyMessage="No data in list">
			<listhead>
				<listheader label="" width="32px" />
				<listheader label="Tanggal" width="100px" />
				<listheader label="ID Perkiraan" width="100px" />
				<listheader label="Ket" width="700px" />
				<listheader label="Debet" />
				<listheader label="Kredit" />
			</listhead>
			<template name="model" var="p1">
				<listitem>
					<listcell />
					<listcell label="@load(p1.tglJurnal)" />
					<listcell
						label="@load(p1.trioJurnalPK.idPerkiraan)" />
					<listcell label="@load(p1.ket)" />
					<listcell
						label="@load(p1.debet) @converter('formatedNumber',format='###,##0.00') " />
					<listcell
						label="@load(p1.kredit) @converter('formatedNumber',format='###,##0.00')" />
				</listitem>
			</template>
		</listbox>

		<separator />

		<hbox align="center">
			<radiogroup orient="vertical">
				<radio label="Dilunasi" checked="true" disabled="true" />
				<radio label="Belum Dilunasi" disabled="true" />
			</radiogroup>

			<separator width="120px" />

			<button label="Simpan" sclass="btn-warning" zclass="btn"
				onClick="@command('simpan')" />
			<button label="Exit" onClick="@command('exit')"
				sclass="btn-warning" zclass="btn" />

			<separator width="600px" />

			<decimalbox value="@bind(vm.bd)" format="###,##0.00" />

		</hbox>
	</window>
</zk>