<zk>
	<style src="/bootstrap/css/bootstrap.css" />
	<style src="/css/triostyle.css" />
	<window title="Rumus Neraca Pasiva" border="normal" mode="modal"
		closable="true" sclass="mymodal" position="center,center" width="62%"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm')@init('com.trio.gl.popup.PopupRumusTotalPasivaVM')">
		<separator />
		<hbox>
			<listbox model="@bind(vm.listModelRumus)"
				onSelect="@command('onSelectList')"
				selectedItem="@bind(vm.selectedPasiva)" width="650px"
				height="400px">
				<listhead>
					<listheader label="Kd. Hasil" width="70px"
						align="center" />
					<listheader label="Id. Perk" width="70px"
						align="center" />
					<listheader label="Nama Perkiraan" width="250px"
						align="center" />
					<listheader label="Jenis" width="50px"
						align="center" />
					<listheader label="Nilai" align="center" />
				</listhead>
				<template name="model" var="p1">
					<listitem>
						<listcell>
							<textbox value="@bind(p1.kdHsl)"
								inplace="true" maxlength="3" cols="1" sclass="mytext" />
						</listcell>
						<listcell>
							<textbox
								value="@bind(p1.idPerkiraan) @save(vm.strIdPerk)"
								onChange="@command('onChangeText')" inplace="true" maxlength="5"
								cols="3" sclass="mytext" />
						</listcell>
						<listcell>
							<div align="left">
								<label value="@bind(p1.namaPerkiraan)"
									multiline="true" sclass="mylabel" />
							</div>
						</listcell>
						<listcell>
							<textbox value="@load(p1.jenis)"
								inplace="true" width="10px" maxlength="1" sclass="mytext" />
						</listcell>
						<listcell>
							<div align="right">
								<label
									value="@load(p1.nilai) @converter('formatedNumber', format = '###,##0.00')"
									sclass="mylabel" />
							</div>
						</listcell>
					</listitem>
				</template>
			</listbox>
			<space />
			<vbox align="center">
				<button label="New Record" width="120px"
					sclass="btn-warning" zclass="btn" onClick="@command('newRecord')" />
				<button label="Insert Record" width="120px"
					onClick="@command('insertRecord')" sclass="btn-warning"
					zclass="btn" />
				<button label="Delete" width="120px"
					sclass="btn-warning" zclass="btn"
					onClick="@command('deleteRecord')" />
				<button label="Save" width="120px" sclass="btn-warning"
					zclass="btn" onClick="@command('save')" />
			</vbox>
		</hbox>
		<separator />
	</window>
</zk>