<zk>
	<style src="/bootstrap/css/bootstrap.css" />
	<style src="/css/triostyle.css" />
	<window mode="modal" sclass="mymodal" position="center,center"
		border="normal" width="350px" height="150px"
		title="Tarik Nilai Rugi Laba" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm')@init('com.trio.gl.popup.PopupLoadNilaiRLVM')" closable="true">
		<div align="center" vflex="1">
			<hbox align="center" vflex="1">
				<cell width="80px">
					<label value="Periode Bulan" />
				</cell>
				<cell>
					<monthbox format="MMM-yyyy" value="@bind(vm.bulan)" disabled="@bind(vm.checked)" />
					<checkbox label="Per Tahun"
						checked="@bind(vm.checked)"/>
				</cell>
			</hbox>
		</div>
		<button label="Proses" sclass="btn-warning" zclass="btn"
			style="float: right" onClick="@command('proses')" />

	</window>
</zk>