<zk>
	<style src="/bootstrap/css/bootstrap.css" />
	<style src="/css/triostyle.css" />
	<window title="Rumus Rugi Laba [1] - 1" border="normal" mode="modal"
		closable="true" sclass="mymodal" position="center,center" width="60%"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm')@init('com.trio.gl.popup.PopupRumus1RugiLabaVM')">
		<separator />
		<hbox>
			<listbox width="600px" height="400px"
				model="@bind(vm.listModelRumus)" onSelect="@command('onSelectList')"
				selectedItem="@bind(vm.selectedItem)">
				<listhead>
					<listheader label="Kd. Hasil" width="100px"  align="center"/>
					<listheader label="Id. Perkiraan" width="100px" align="center"/>
					<listheader label="Nama Perkiraan" align="center" />
					<listheader label="Jenis" width="50px" align="center" />
				</listhead>
				<template name="model" var="p1">
					<listitem>
						<listcell>
							<textbox value="@bind(p1.kdHsl)"
								inplace="true" cols="2" maxlength="3" />
						</listcell>

						<listcell>
							<textbox value="@bind(p1.idPerkiraan)"
								inplace="true" cols="3" maxlength="6" />
						</listcell>

						<listcell>
							<textbox value="@bind(p1.namaPerkiraan)"
								inplace="true" width="270px" maxlength="35"/>
						</listcell>

						<listcell>
							<textbox value="@bind(p1.jenis)"
								inplace="true" width="10px" />
						</listcell>

					</listitem>
				</template>
			</listbox>
			<space />
			<vbox align="center">
				<button label="New Record" width="120px"
					sclass="btn-warning" zclass="btn" onClick="@command('newRecord')" />
				<button label="Insert Record" width="120px" onClick="@command('insertRecord')"
					sclass="btn-warning" zclass="btn" />
				<button label="Delete" width="120px"
					sclass="btn-warning" zclass="btn" onClick="@command('deleteRecord')" />
				<button label="Save" width="120px" sclass="btn-warning"
					zclass="btn" onClick="@command('save')" />
			</vbox>
		</hbox>
		<separator />
	</window>
</zk>