<zk>
	<style src="/bootstrap/css/bootstrap.css" />
	<style src="/css/triostyle.css" />
	<window title="Simpan Neraca Akhir Pasiva" border="normal"
		mode="modal" position="center,center" closable="true" width="300px"
		sclass="mymodal" height="150px" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm')@init('com.trio.gl.popup.PopupSaveFilePasivaVM')">

		<div align="center" vflex="1">
			<hbox align="center" vflex="1">
				<cell width="100px">
					<label value="Periode Bulan :" />
				</cell>
				<cell>
					<monthbox format="MMM-yyyy"
						value="@bind(vm.periode)" />
				</cell>
			</hbox>
		</div>
		<button label="Save" sclass="btn-warning" zclass="btn"
			style="float : right;" onClick="@command('save')" />

	</window>
</zk>