<zk>
	<style src="/css/triostyle.css" />
	<style src="/bootstrap/css/bootstrap.css" />

	<window title="Data Laba Ditahan" border="normal" mode="modal"
		closable="true" position="center,center" width="300px"
		sclass="mymodal" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm')@init('com.trio.gl.popup.PopupLabaDitahanRlVM')">

		<separator />
		<vbox style="margin-left : 20px;">
			<hbox align="center">
				<cell width="80px">
					<label value="Kode Judul" sclass="mylabel" />
				</cell>

				<cell>
					<textbox width="50px" sclass="mytext" value="@save(vm.kdJudul)"/>
				</cell>
			</hbox>

			<hbox align="center">
				<cell width="80px">
					<label value="Kode Laba" sclass="mylabel" />
				</cell>

				<cell>
					<textbox width="50px" sclass="mytext" value="@save(vm.kdLaba)"/>
				</cell>
			</hbox>

			<hbox align="center">
				<cell width="80px">
					<label value="Nilai Laba" sclass="mylabel" />
				</cell>

				<cell>
					<decimalbox disabled="true" sclass="mytext" value="0"/>
				</cell>
			</hbox>
		</vbox>

		<separator />
		<hlayout style="float: right;">
			<button label="Simpan" sclass="btn-warning" zclass="btn" onClick="@command('save')" />
		</hlayout>

	</window>
</zk>