<zk>
	<style src="/bootstrap/css/bootstrap.css" />
	<style src="../css/triostyle.css" />
	<div height="100%" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('com.trio.gl.viewmodel.mst.MstKonfigurasiVM')"
		validationMessages="@id('vmsgs')">
		<separator />
		<groupbox
			form="@id('fx') @load(vm.current)  @save(vm.current, before={'save','search'}) @validator(vm.formValidator) ">
			<caption label="Master Konfigurasi" sclass="mycaption" />
			<separator />
			<grid sclass="mygrid">
				<columns visible="false">
					<column width="100px" />
					<column width="250px" />
					<column width="250px" />
				</columns>
				<rows>
					<row>
						<cell>
							<label value="*Id Konfig" sclass="mylabel" />
						</cell>
						<cell>
							<textbox
								value="@bind(fx.trioMstkonfigurasiPK.idKonfigurasi)" type="text"
								focus="@load(vm.focus)" sclass="mytext" maxlength="3"
								width="50px" />
						</cell>
						<cell>
							<label sclass="msgerror"
								value="@bind(vmsgs['fkey1'])" />
						</cell>
					</row>
					<row>
						<cell>
							<label value="*Nama Konfig"
								sclass="mylabel" />
						</cell>
						<cell>
							<textbox value="@bind(fx.nama)" type="text"
								sclass="mytext" maxlength="30"
								onChange="self.setValue(self.getValue().toUpperCase().trim());" />
						</cell>
						<cell>
							<label sclass="msgerror"
								value="@bind(vmsgs['fkey2'])" />
						</cell>
					</row>
					<row>
						<cell>
							<label value="*Nilai" sclass="mylabel" />
						</cell>
						<cell>
							<textbox value="@bind(fx.nilai)" type="text"
								sclass="mytext" maxlength="50" width="200px" />
						</cell>
						<cell>
							<label sclass="msgerror"
								value="@bind(vmsgs['fkey3'])" />
						</cell>
					</row>
					<row>
						<cell colspan="3">
							<space width="100px" />
							<button label="Simpan" sclass="btn-warning"
								zclass="btn" onClick="@command('save')"
								image="/image/iconcrud/btn_save.gif" />
							<space width="5px" />
							<button label="Bersihkan"
								sclass="btn-warning" zclass="btn" onClick="@command('reset')"
								image="/image/iconcrud/btn_reset.gif" />
							<space width="5px" />
							<button label="Cari" sclass="btn-warning"
								zclass="btn" onClick="@command('search')"
								image="/image/iconcrud/btn_search.gif" />
						</cell>
					</row>
				</rows>
			</grid>
		</groupbox>

		<separator />
		<listbox sclass="mylist" mold="paging" pageSize="10"
			pagingPosition="bottom" selectedItem="@bind(vm.current)"
			model="@load(vm.listModel)">
			<listhead sizable="true">
				<listheader width="100px" label="Id Konfig"
					sort="auto(trioMstkonfigurasiPK.idKonfigurasi)" />
				<listheader width="250px" label="Nama Konfig"
					sort="auto(nama)" />
				<listheader label="Nilai" sort="auto(nilai)" />
			</listhead>
			<template name="model" var="p1">
				<listitem>
					<listcell
						label="@load(p1.trioMstkonfigurasiPK.idKonfigurasi)" />
					<listcell label="@load(p1.nama)" />
					<listcell label="@load(p1.nilai)" />
				</listitem>
			</template>
		</listbox>
	</div>
</zk>