<zk>
	<style src="../css/triostyle.css" />
	<div height="100%" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('com.trio.gl.viewmodel.trn.TrnDesignNeraca')"
		validationMessages="@id('vmsgs')">
		<separator />
		<label value="Design Neraca Akhir" />
		<borderlayout height="600px">
			<center border="0">
				<listbox sclass="mylist" vflex="true"
					selectedItem="@bind(vm.current)" model="@load(vm.listModel)"
					emptyMessage="No data in list">
					<listhead sizable="true">
						<listheader width="60px" label="No Perk"
							sort="auto(idPerkiraan)" />
						<listheader width="50px" label="Kd Jd"
							sort="auto(kdJd)" />
						<listheader width="300px" label="Nama Perk"
							sort="auto(namaPerkiraan)" />
						<listheader width="50px" label="Ket 1"
							sort="auto(ket)" />
						<listheader width="50px" label="Ket 2"
							sort="auto(ket1)" />
						<listheader width="100px" label="Level 1"
							sort="auto(level1)" />
						<listheader label="Level 2" sort="auto(level2)" />

					</listhead>
					<template name="model" var="p1">
						<listitem>
							<listcell label="@load(p1.idPerkiraan)" />
							<listcell label="@load(p1.kdJd)" />
							<listcell label="@load(p1.namaPerkiraan)" />
							<listcell label="@load(p1.ket) " />
							<listcell label="@load(p1.ket1) " />
							<listcell label="@load(p1.level1) " />
							<listcell label="@load(p1.level2) " />
						</listitem>
					</template>
				</listbox>
			</center>
		</borderlayout>
		<separator />
		<button sclass="mybutton orange bigrounded" label="New File" onClick="@command('newFile')" image="/image/iconcrud/btn_new.png" />
		<button sclass="mybutton orange bigrounded" label="Load File" onClick="@command('loadFile')" image="/image/iconcrud/btn_load.gif" />
		<button sclass="mybutton orange bigrounded" label="Preview" onClick="@command('preview')" image="/image/iconcrud/btn_display.gif" />
		<button sclass="mybutton orange bigrounded" label="Save File" onClick="@command('save')" image="/image/iconcrud/btn_save.gif" />
		
	</div>
</zk>