<zk>
	<style src="/bootstrap/css/bootstrap.css"/>	
	<style src="../css/triostyle.css" />
	<div
		height="100%" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('com.trio.gl.viewmodel.trn.TrnJurnalUmumVM')" validationMessages="@id('vmsgs')">
		<separator />		
		 <groupbox form="@id('fx') @load(vm.current)  @save(vm.current, before={'addJurnal','search'}) @validator(vm.formValidator) ">
			 <caption label="Jurnal Umum" sclass="mycaption" />
			 <separator />
			 <vbox>
			 	
			 	<hbox>
			 		<cell width="80px">
			 			<label value="Tanggal" sclass="mylabel" zclass="mylabel" />
			 		</cell>
			 		<cell>
			 			<datebox value="@bind(vm.todayDate)" format="dd-MM-yyyy" height="50px"/>
			 		</cell>
			 	</hbox>
			 	<hbox>
			 		<cell width="80px">
			 			<label value="Keterangan" sclass="mylabel" />
			 		</cell>
			 		<cell>
			 			<textbox value="@bind(vm.ketJurnal)" type="text" sclass="mytext" width="200px" onChange="self.setValue(self.getValue().toUpperCase().trim());" focus="true" />
			 		</cell>
			 	</hbox>
			 	<hbox>
			 		<cell width="80px">
			 			<label value="No Perk" sclass="mylabel" />
			 		</cell>
			 		<cell>
			 			<combobox autocomplete="true" sclass="mycombo" width="70px" model="@load(vm.perkiraans)" value="@bind(fx.trioJurnalPK.idPerkiraan)" 
			 				selectedItem="@bind(vm.selectedPerkiraan)" onSelect="@command('showSelectedPerkiraan')"  >
               				<template name="model" var="p1">
                   				<comboitem label="@load(p1.trioMstperkiraanPK.idPerkiraan)" value="@load(p1.trioMstperkiraanPK.idPerkiraan)" />
               				</template>
           				</combobox>
           				
           				<combobox autocomplete="true" sclass="mycombo" width="200px" model="@load(vm.perkiraans)" value="@bind(fx.namaPerkiraan)" 
           				selectedItem="@bind(vm.selectedPerkiraan)" onSelect="@command('showSelectedPerkiraan')" 
           				onChange="self.setValue(self.getValue().toUpperCase().trim());" focus="@load(vm.focus)" >
               				<template name="model" var="p1">
                   				<comboitem label="@load(p1.namaPerkiraan)" value="@load(p1.trioMstperkiraanPK.idPerkiraan)" />
               				</template>
           				</combobox>
			 		</cell>
			 		
			 		<cell width="50px">
			 			<label value="No Sub" sclass="mylabel" />
			 		</cell>
			 		<cell>
			 			<combobox autocomplete="true" sclass="mycombo" width="50px" model="@load(vm.subPerkiraans)" 
			 			value="@bind(fx.trioJurnalPK.idSub)" selectedItem="@bind(vm.selectedSubPerkiraan)" >
               				<template name="model" var="p1">
                   				<comboitem label="@load(p1.trioMstsubperkiraanPK.idSub)" value="@load(p1.trioMstsubperkiraanPK.idSub)" />
               				</template>
           				</combobox>
			 			<combobox autocomplete="true" sclass="mycombo" width="200px" model="@load(vm.subPerkiraans)" 
			 			value="@bind(vm.selectedSubPerkiraan.namaSub)" selectedItem="@bind(vm.selectedSubPerkiraan)" >
               				<template name="model" var="p1">
                   				<comboitem label="@load(p1.namaSub)" value="@load(p1.namaSub)" />
               				</template>
           				</combobox>
			 		</cell>
			 		<cell width="50px">
			 			<label value="Debet" sclass="mylabel" />
			 		</cell>
			 		<cell>
			 			<!-- <decimalbox value="@bind(vm.debet)" format="###,##0.00" onChange="@command('copyData')" />  -->
			 			<decimalbox value="@bind(vm.debet)" format="###,##0.00" onChange="@command('copyData')" />
			 		</cell>
			 		<cell width="50px">
			 			<label value="Kredit" sclass="mylabel" />
			 		</cell>
			 		<cell>
			 			<decimalbox value="@bind(vm.kredit)" format="###,##0.00" onChange="@command('copyData')" />
			 			
			 		</cell>
			 	</hbox>
			 	<hbox>
			 		<cell width="80px">
			 			<label value="Ket Jurnal" sclass="mylabel" />
			 		</cell>
			 		<cell>
			 			<textbox sclass="mytext" value="@bind(vm.ketJurnal2)" width="200px" />
			 		</cell>
			 		<cell>
			 			<button label="Tambah" sclass="btn-warning" zclass="btn" onClick="@command('addJurnal')" image="/image/iconcrud/btn_add.gif" />
			 		</cell>
			 	</hbox>
			 </vbox>
		 </groupbox>
		 
		<separator />
		<listbox sclass="mylist" mold="paging" pageSize="10" pagingPosition="bottom"
			selectedItem="@bind(vm.current)"
			model="@load(vm.listModel)" emptyMessage="No data in list">
			<listhead sizable="true">
				<listheader width="100px" label="No Perk" sort="auto(trioJurnalPK.idPerkiraan)" />
				<listheader width="80px" label="Sub" sort="auto(trioJurnalPK.idSub)" />
				<listheader width="200px" label="Nama Perk" sort="auto(namaPerkiraan)" />
				<listheader width="100px" label="Debet" sort="auto(debet)" />
				<listheader width="100px" label="Kredit" sort="auto(kredit)" />
				<listheader label="Pilih"  />
			</listhead>
			<template name="model" var="p1">
				<listitem>
					<listcell label="@load(p1.trioJurnalPK.idPerkiraan)" />
					<listcell label="@load(p1.trioJurnalPK.idSub)" />
					<listcell label="@load(p1.namaPerkiraan)" />
					<listcell label="@load(p1.debet) @converter('formatedNumber', format='###,##0.00')" />
					<listcell label="@load(p1.kredit) @converter('formatedNumber', format='###,##0.00')" />
					<listcell>
						<checkbox onCheck="@command('cek', checked=self.checked, picked=p1)" />
					</listcell>
				</listitem>
			</template>
		</listbox>
		<vbox>
			<hbox>
				<cell width="180px" />
				<cell width="200px"><label value="Total" sclass="mylabel"/></cell>
				<cell width="100px"><label value="@bind(vm.totalDebet) @converter('formatedNumber', format='###,##0.00')" sclass="mylabel" /></cell>
				<cell><label value="@bind(vm.totalKredit) @converter('formatedNumber', format='###,##0.00')" /></cell>
			</hbox>
			<hbox>
				<cell width="180px" />
				<cell width="200px"><label value="Selisih" sclass="mylabel" /></cell>
				<cell width="100px"><label value="@bind(vm.selisih) @converter('formatedNumber', format='###,##0.00')" sclass="mylabel" /></cell>
			</hbox>
		</vbox>
		<separator />
		<button label="Simpan" sclass="btn-warning" zclass="btn" onClick="@command('save')" image="/image/iconcrud/btn_save.gif" />
		<button label="Bersihkan" sclass="btn-warning" zclass="btn" onClick="@command('resetAll')" image="/image/iconcrud/btn_reset.gif" />
		<button label="Hapus" sclass="btn-warning" zclass="btn" onClick="@command('delete')" image="/image/iconcrud/btn_delete.gif" disabled="vm.listModel.size()>0 ? true : false" />
	</div>
</zk>