<zk>
	<style src="/bootstrap/css/bootstrap.css" />
	<style src="../css/triostyle.css" />
	<div height="100%" apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('com.trio.gl.viewmodel.trn.TrnTarikUnitVM')"
		validationMessages="@id('vmsgs')">
		<separator />
		<groupbox>
			<caption label="Load Data Unit Oracle" sclass="mycaption" />
			<separator />
			<vbox>

				<hbox>
					<cell width="80px">
						<label value="Kode Cabang" sclass="mylabel" />
					</cell>
					<cell>
						<textbox value="@bind(vm.kodeCabang)"
							type="text" sclass="mytext" width="200px"
							onChange="self.setValue(self.getValue().toUpperCase().trim());"
							focus="true" />
					</cell>
				</hbox>
				<hbox>
					<cell width="80px">
						<label value="Tgl Tarik" sclass="mylabel" />
					</cell>
					<cell>
						<datebox value="@bind(vm.tglTarik)"
							format="dd-MM-yyyy" />
					</cell>
				</hbox>
				<hbox>
					<cell>
						<button label="Load" sclass="btn-warning"
							zclass="btn" onClick="@command('tarik')"
							image="/image/iconcrud/btn_load.gif" />
					</cell>
				</hbox>
			</vbox>
		</groupbox>
		<separator />
		<listbox sclass="mylist" mold="paging" pageSize="10"
			pagingPosition="bottom" model="@load(vm.listModel)"
			emptyMessage="No data in list">
			<listhead>
				<listheader width="120px" label="No Mesin"></listheader>
				<listheader label="No Rangka"></listheader>
			</listhead>
			<template name="model" var="p1">
				<listitem>
					<listcell label="@load(p1.noMesin)" />
					<listcell label="@load(p1.noRangka)" />
				</listitem>
			</template>
		</listbox>
		<separator />
		<button label="Simpan" sclass="btn-warning" zclass="btn"
			onClick="@command('save')" image="/image/iconcrud/btn_save.gif" />
	</div>
</zk>